body {
  padding: 3em 0;
}
.container {
  max-width: 1000px;
}
.navbar-nav.nav-justified > li {
  float: none;
}
.navbar .nav li a {
  border-right: 1px solid rgba(0, 0, 0, .1);
}
.navbar .nav li:last-child a {
  border-right: 0;
}
.jumbotron {
  background: transparent;
}
.id-jumbo {
  margin: 0;
}
